<%- include ('../partials/header'); %>

<div class="row">
  <div class="col-md-4">
    <h1><%= user.firstName + " " + user.lastName %></h1>
    <div class="thumbnail">
      <img src="<%= user.avatar %>" alt="User Profile Image" />
      <div class="caption">
        <a href="mailto:<%= user.email %>"><%= user.email %></a>
      </div>
    </div>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel eos et sint
      voluptates dolore optio nesciunt enim voluptatum laudantium veritatis a
      quisquam tempora, quia, odit sit fugiat. Quis, dolores necessitatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia commodi vel
      ex consequuntur, temporibus eveniet? Officia quo tempore libero incidunt,
      fugit placeat pariatur, veritatis non ratione facere maxime assumenda hic!
    </p>
  </div>
  <div class="col-md-8">
    <h3><%= user.username %>'s campgrounds:</h3>
    <ul>
      <% campgrounds.forEach(function(campground){ %>
      <li>
        <a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a>
      </li>
      <% }); %>
    </ul>
  </div>
</div>

<%- include ('../partials/footer'); %>
